body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e6f7ff; /* Нежно-голубой цвет */
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

h1 {
    color: #4CAF50;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#image-preview {
    width: 224px;
    height: 224px;
    margin: 20px auto; /* Центровка блока */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cbd5e0;
    border-radius: 10px;
    background-color: #f0f8ff;
    overflow: hidden;
}

#image-preview img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

